@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.cupboard-item {
    @include content-padding;
    overflow: hidden;
    width: 100%;
    height: 160px;
    margin-bottom: 0.5rem;
    background-color: white;
    border-bottom: 2px solid $color-alt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablet {
        height: 60px;
        margin-bottom: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    &:last-child {
        border-bottom: none;
    }

    &__heading {
        font-family: 'Quicksand Semi Bold';
        font-size: 0.875rem;
        color: $color-primary;
        margin-bottom: 0.25rem;

        @include tablet {
            display: none;
        }

        &--actions {
            visibility: hidden;
        }
    }

    &__text {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;

        @include tablet {
            margin-bottom: 0;
        }

        &--item {
            color: $color-primary;
        }
    }

    &__column {
        @include tablet {
            @include column-default;
        }
    }

    &__btns {
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
            overflow: hidden;
        }
    }
}