@use "../styles/variables" as *;
@use "../styles/mixins" as *;


.recipes {

    &__header {
        @include content-padding;
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }

    &__title {
        display: inline;
        padding: 1rem 0;
        border-bottom: 0.3rem solid $color-four;

        @include tablet {
            font-size: 3rem;
        }
    }
}

.spacer {
    height: 80px;
    position: relative;
    bottom: 0;
}