@use "../../styles/mixins" as *;

.recipe-card {
    width: 100%;
    height: 80vh;
    margin-bottom: 1.5rem;
    border-radius: 1.25rem;
    background-color: red;
    overflow: hidden;

    @include tablet {
        width: 250px;
        height: 350px;
        margin-bottom: 2rem;
    }

    @include desktop {
        margin-bottom: 2.5rem;
    }

    &__list {
        list-style: none;
    }

    &__img {
        min-width: 280px;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 50% 50%;

        @include tablet {
            min-width: 250px;
            height: 250px;
        }
    }

    &__text {
        height: 30vh;

        @include tablet {
            height: auto;
        }
    }
}