@use '../../styles/mixins' as *;

.add-item {
    @include modal;

    &__card {
        @include content-padding;
        @include modal-card;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}