@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.menu {
    cursor: pointer;
    transition: 0.2s;
    z-index: 10;

    &__rotate {
        position: relative;
        transform: rotate(90deg);
    }

    &__icon {
        @include header-circle;
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__line {
        width: 60%;
        height: 3px;
        margin: 4px 0;
        background-color: white;
        border-radius: 20px;
    }
}