@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.pull-out {
    width: 100%;
    min-width: 275px;
    height: 200vh;
    background-color: $color-primary;
    position: fixed;
    top: 160px;
    right: 0;
    transition: 0.2s;

    @include tablet {
        top: 80px;
    }

    &__inactive {
        transform: translate3d(100vw, 0, 0);
    }

    &__active {
        transform: translate3d(0vw, 0, 0);
    }

    &__nav {
        @include content-padding;
        padding-top: 2.5rem;

        @include tablet {
            padding-top: 3rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__item {
        list-style: none;
        margin-bottom: 2rem;
    }

    &__link {
        text-decoration: none;
        color: white;
        font-family: 'Quicksand Semi Bold';
        font-size: 1.5rem;

        @include tablet {
            font-size: 2rem;;
        }

        &--selected {
            border-bottom: 5px solid white;
        }

        &:hover {
            border-bottom: 5px solid white;
        }

        &--c {
            &:hover {
                border-bottom: 5px solid $color-secondary;
            }
        }    

        &--u {
            &:hover {
                border-bottom: 5px solid $color-three;
            }
        }

        &--b {
            &:hover {
                border-bottom: 5px solid $color-four;
            }
        }

        &--y {
            &:hover {
                border-bottom: 5px solid $color-five;
            }
        }
    }
}