@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.column-header {
    @include content-margins;
    display: none;

    @include tablet {
        display: block;
        height: 40px;
        background-color: $color-alt;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__text {
        font-family: 'Quicksand Semi Bold';
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__column {
        @include column-default;
    }
}