@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.tile {
    width: 100%;
    height: calc(50vh - 160px);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        width: 50%;
        height: calc(50vh - (80px / 2));
    }

    & img {
        transition: 0.2s;
    }

    &:hover img {
        transform: scale(0.8);
    }

    &__link {
        @include content-padding;
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        @include tablet {
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }

        &--reverse {
            flex-direction: row-reverse;

            @include tablet {
                flex-direction: column-reverse;
            }
        }
    }

    &__content {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        color: white;
        text-align: center;
        width: 80%;
        padding: 1rem 0.75rem;
        border: 3px solid white;
        border-radius: 2.5rem;
    }

    &__icon {
        width: 150px;
        
        @include tablet {
            margin: 1rem;
        }
    }

    &__color-shopping-list {
        background-color: $color-secondary;
    }

    &__color-meal-plan {
        background-color: $color-three;
    }

    &__color-recipe-book {
        background-color: $color-four;
    }

    &__color-cupboard {
        background-color: $color-five;
    }
}