@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
    @include content-padding;
    @include header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $color-primary;
    border-bottom: 5px solid $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 50px;
    }
    
    &__links {
        list-style: none;
        display: flex;
    }
    &__link {
        color: white;
        text-decoration: none;
    }

    &__spacer {
        width: 100%;
        height: 160px;

        @include tablet {
            height: 80px;
        }
    }

    &__color-secondary {
        border-bottom: 5px solid $color-secondary;
    }

    &__color-three {
        border-bottom: 5px solid $color-three;
    }    

    &__color-four {
        border-bottom: 5px solid $color-four;
    }
    
    &__color-five {
        border-bottom: 5px solid $color-five;
    }
}