// Colour Scheme
$color-primary: #233D4D;
$color-secondary: #FE7F2D;
$color-three: #FCCA46;
$color-four: #A1C181;
$color-five: #619B8A;

// Responsive Design
$screen-tablet: 768px;
$screen-desktop: 1280px;

$margin-mobile: 1rem;
$margin-tablet: 1.5rem;
$margin-desktop: 2.5rem;