@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.modal-form {

    &__sub-title {
        margin-bottom: 0.5rem;
        font-family: 'Quicksand Semi Bold';
        font-size: .875rem;
        color: $color-primary;
    }

    &__inputs {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
    }
}